body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.flex-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field>label {
    top: 15px!important;
}
