<!-- templates/contact.html -->
{% extends "base.html" %}

{% block title %}Contact - AutoLink PDF{% endblock %}

{% block content %}
<div class="container my-5 pt-5">

    <section id="profile">
        <div class="profile-container">
            <img src="/static/images/your-profile-pic.jpg" alt="Profile Picture" class="profile-pic mb-4 mt-5">
            <h1>Rizwan Siddiqui</h1>
            <p class="bio">
                Hello! I am Rizwan Siddiqui, a passionate web developer with 4 years of experience. I specialize in creating dynamic and responsive websites using technologies like HTML, CSS, JavaScript, and more. I am excited about building interactive and user-friendly web applications!
            </p>
            <a href="https://github.com/Rizwan116" class="btn btn-dark">GitHub</a>
            <a href="https://www.linkedin.com/in/rizwan-siddiqui-4a5747128/" class="btn btn-primary">Linked In</a>
        </div>
    </section>
    
    </div>

</div>
{% endblock %}